* {
    box-sizing: border-box;
  }
  
  #myInput {
    background-image: url('../css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }

  .container h1{
    margin-bottom: 15px;
  }

  .buttons {
    display: flex;
  }
  
  .container .button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container .filled-button {
    background-color: #2196F3; 
    color: white;
  }
  
  .container .outlined-button {
    background-color: transparent;
    color: #2196F3;
    border: 1px solid #2196F3;
  }